<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Email Verification</title>
  <link rel="stylesheet" href="/css/Auth_UI_style.css" />
</head>
<body>
  <section>
    <form id="verification-form">
      <h1>Email Verification</h1>
      <div class="inputbox">
        <input type="text" id="verificationCode" name="verificationCode" required />
        <label for="verificationCode">Verification Code</label>
      </div>
      <button type="submit">Verify</button>
    </form>
  </section>
  <script src="/js/verify.js"></script>
</body>
</html>
